:root {
    --main-orange: #df662a;
    --main-gray: #e7e7e7;
  }

.admin-zone {
    margin-top: 120px;
} 

.admin-zone main{
    padding-left: 50px;
    padding-bottom: 40px;
}

.dashboard-main h1 {
    margin-bottom: 25px;
}

.add-book-container,
.add-category-container,
.remove-category-container,
.remove-book-container  {
    width: 60%;
    background-color: var(--main-gray);
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(57, 57, 57, 0.338);
    margin-bottom: 50px;
}

.add-book-container h2,
.add-category-container h2,
.remove-category-container h2,
.remove-book-container h2{
    font-size: 2.1rem;
    font-weight: normal;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(155, 155, 155);
}


.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label,
.form-group input,
.add-book-container button,
.add-category-container button,
.remove-category-container button,
.remove-book-container button{
    font-size: 1.4rem;
}

.form-group label {
    margin-bottom: 10px;
    font-weight: lighter;
}


.form-group input {
    padding: 7px 15px;
    margin-bottom: 15px;
    color: rgb(52, 52, 52);
}

.add-book-container select,
.remove-category-container select,
.remove-book-container select {
    padding: 5px 10px;
    margin-bottom: 15px;
}

.price,
.stock {
    width: 20%;
}

.col-3 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.col-3 div:first-child,
.col-3 div:nth-child(2) {
    margin-right: 30px;
}

.add-book-container button {
    background-color: rgb(71, 132, 182);
}

.add-category-container button {
    background-color: rgb(206, 184, 13);
}

.remove-category-container button,
.remove-book-container button,
.block-user {
    background-color: rgb(215, 5, 5);
}


.add-book-container button,
.add-category-container button,
.remove-category-container button,
.remove-book-container button {
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    border: none;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
    transition: background-color .1s ease;
}


.add-book-container button:hover,
.add-category-container button:hover,
.send-message-user:hover {
    background-color: green;
}

.remove-category-container button:hover,
.remove-book-container button:hover,
.block-user:hover {
    background-color: rgb(140, 2, 2);
}

.add-category-container {
    margin: 50px 0;
}

#users-info {
    display: flex;
    flex-flow: row wrap;
}

.user-box {
    flex: 0 calc(33.33% - 2em);
    margin-right: 2em;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    background-color: var(--main-gray);
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.16);
}

.user-options {
    display: flex;
}

.user-box h2 {
    font-weight: normal;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(155, 155, 155);
}

.user-box h2,
.user-box p {
    color: #333;
}

.user-box p {
    font-size: 1.2rem;
}

.user-box span{
    font-weight: lighter;
}

.user-box button {
    width: 100%;
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-right: 5px solid  var(--main-gray);
    border-left: 5px solid  var(--main-gray);
    border-radius: 5px;
}

.block-user,
.send-message-user {
    color: var(--main-gray);
    cursor: pointer;
}

.user-box form {
    width: 100%;
}

.send-message-user {
    background-color: lightseagreen;
}

.unblock-user {
    background-color: steelblue;
    color: var(--main-gray);
    cursor: pointer;
}

.unblock-user:hover {
    background-color: rgb(55, 106, 148);
}

.dashboard-stats {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-width: 1200px;
}

.dashboard-stats div {
    width: 45%;
    padding: 42px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: lightblue;
    box-shadow: 2px 5px 10px rgba(24, 24, 24, 0.112);
}

.dashboard-stats h2 {
    margin: 0;
    text-align: center;
    font-size: 4rem;
    font-weight: normal;
}

.dashboard-stats p {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-size: 8rem;
    font-weight: lighter;
}

.page-forward button,
.page-backward button{
    border-radius: 3px;
    cursor: pointer;
}





@media screen and (max-width: 1400px) {
    .add-book-container,
    .add-category-container,
    .remove-book-container,
    .remove-category-container {
        width: 80%;
    }
}

@media screen and (max-width: 1200px) {
    .add-book-container,
    .add-category-container,
    .remove-book-container,
    .remove-category-container {
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .add-book-container,
    .add-category-container,
    .remove-book-container,
    .remove-category-container {
        width: 100%;
    }

    .admin-zone main {
        padding-left: 20px; 
    }

    .price,
    .stock {
        width: 15%;
    }

    .cover {
        width: 60%;
    }

    .dashboard-stats {
        flex-direction: column;
    }
    
    .dashboard-stats div {
        width: 60%;
        margin-bottom: 20px;
    }
 
}


  
@media screen and (max-width: 760px) {
    .add-book-container,
    .add-category-container,
    .remove-book-container,
    .remove-category-container {
        width: 100%;
    }

    .admin-zone main {
        padding: 0 15px;
    }

    .price,
    .stock {
        width: 20%;
    }

    .cover {
        width: 50%;
    }

    .dashboard-stats {
        flex-direction: column;
    }

    .dashboard-stats div {
        width: 100%;
    }
}